* {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
}

.navbar {
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin: 20px auto;
}

.navbar a:visited{
    text-decoration: none;
    color: #354463;
}

.navbar a:active{
    text-decoration: none;
    color: #354463;
}

.navbar a:link{
    text-decoration: none;
    color: #354463;
}

.navbar a{
    text-decoration: none;
    color: #354463;
}

.banner {
    background: url('../assets/donation/annie-spratt-427340-unsplash.png') no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    z-index: -1;
    min-height: 850px;
}

.banner h5 {
    text-align: center;
    font: normal normal normal 20px Flood Std;
    font-family: flood-std;
    letter-spacing: 3px;
    word-spacing: 3px;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 3px 3px 2px black;
    padding: 2em;
}

.desktop-flex{
    /* display: grid;
    justify-items: center; */
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* .centralize{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.form-container {
    width: 90vw;
    max-width: 768px;
    background: #354463;
    margin: 10px auto;
    padding: 10px;
}

.donation-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 10px auto;
    column-gap: 20px;
}

label {
    font: Helvetica;
    letter-spacing: 0.44px;
    color: #FFFFFF;
}

input {
    margin-top: 3px;
    opacity: 0.5;
    background: #354463;
    outline: none;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    /* border-bottom: 2px solid olive;
    width: 10em; */
    width: 100%;
}

select{
    margin-top: 3px;
    opacity: 0.5;
    background: #354463;
    outline: none;
    border-radius: 5px;
    color: white;
    outline: none;
    border: none;
    /* border-bottom: 2px solid olive;
    width: 10em; */
    width: 100%;

}

::placeholder {
    color: white;
    font-weight: bold;
    opacity: 0.5;
}

hr {
    color: #C1F7D5;
    margin-top: 10px;
    border: 1px solid #C1F7D5;
    width: 80%;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.street-email {
    grid-column: 1 / span 4
}

.city-state-zipcode {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cc-number {
    grid-column: 1 / span 4
}

.expiration-security {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.submit-button {
    width: 100%;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    font-size: 1.3em;
    padding: 10px;
    grid-column: 1 / span 4;
    margin-top: 1.5em;
} 


.go-back {
    color: #C1F7D5;
    text-decoration: underline;
    grid-column: 1 / span 1;
    justify-self:start;
    margin-top: 1.5em;
}

.footer {
    width: 90vw;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 100px;
    color: #354463;
}

.footer li {
    list-style: none;
}

.footer a {
    color: #354463;
}

.message {
    grid-column: 1 / span 2;
    font-size: 1.5em;
    justify-self:self-end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.message h1{
    font-family: flood-std;
}

.learn-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.message {
    grid-column: 1 / span 2;
    font-size: 1.5em;
    justify-self:self-end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media only screen and (min-width: 768px) {

    .footer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .learn-more{
        grid-column: 2 / span 1;
    }

    .message {
        grid-column: 3 / span 1;
    }

    .go-back{
        order: 1;
        align-self: center;
    }

    .submit-button{
        order:2;
        grid-column: 2 / span 3;
    }

}

@media only screen and (min-width: 992px){


    .desktop-flex{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content:space-evenly;
    }

    /* .centralize{
        justify-self: flex-end;
        align-self:center;
    } */

    .form-container {
        margin-left: 50px;
    }

    .desktop-flex h5{
        /* justify-self: flex-start; */
        align-self: flex-start;
    }

    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .learn-more{
        grid-column: 4 / span 1;
    }

    .message {
        grid-column: 5 / span 1;
    }
}