:root {
    --green: #C1F7D5;
    --blue: #354463;
}

body {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: Helvetica;
    color: #354463;
}

#navbar {
    margin-top: 10px;
    width: 80%;
    margin: 0px auto;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: auto auto;
}

.nav-element {
    margin: 0px 5px;
    text-align: center;
}

.motive {
    font: normal normal bold 1.5rem Helvetica;
    letter-spacing: 0px;
    color: var(--blue);
    text-align: left;
    justify-self: start;
    order: 1
}

.nav-links {
    justify-self: right;
    display: flex;
    flex-direction: column;
    letter-spacing: -0.14px;
    text-align: left;
    order: 2;
}

.nav-links a {
    color: var(--blue);
    margin: 5px 0px;
    text-decoration: none;
}

.nav-donate-button {
    grid-column: 1 / span 2;
    background: var(--green);
    border-radius: 100px;
    width: 80%;
    justify-self: center;
    max-width: 380px;
    padding: 10px;
    margin-top: 20px;
    order: 3;
}

#banner {
    height: 100vh;
    width: 100%;
    margin-top: 2em;
    background: transparent url('../assets/home/annie-spratt-135307-unsplash@3x.png') no-repeat;
    background-size: cover;
    background-position: center right;
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    /* Background black to add a tint to background */
}

#banner .slogan {
    justify-self: left;
    font-family: flood-std;
    font-weight: 400;
    font-size: 3em;
    color: #FFFFFF;
    margin-left: 10%;
    margin-top: 10%;
}

#banner .issue {
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    padding: 2em;
    position: relative;
    width: 70%;
}

.issue::before {
    position: absolute;
    content: "THE ISSUE";
    color: white;
    background-color: var(--blue);
    left: 50%;
    width: 160px;
    margin-left: -80px;
    height: 40px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.issue .reason {
    color: #354463;
    font-size: 26px;
    margin: 10px;
}

.read-more {
    color: var(--blue);
}

#take-action-container {
    background-color: var(--green);
    display: flex;
    justify-content: center;
}

#take-action {
    width: 80%;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    position: relative;
}

#take-action:first-child::before{
    position: absolute;
    content: "TAKE ACTION";
    color: white;
    background-color: var(--blue);
    left: 50%;
    width: 160px;
    margin-left: -80px;
    height: 40px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action {
    justify-self: center;
}

.action h2 {
    margin-bottom: 10px
}

#what-we-do-container {
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#what-we-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.do {
    margin-top: 30px;
    background-color: white;
    padding: 10px;
    width: 160px;
    align-self: center;
    text-align: center;
}

.mission-heading {
    color: white;
    text-align: center;
    align-self: center;
    font-size: 2em;
}

.doings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    background-color: white;
    margin-top: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.task-image {
    position: absolute;
    height: 180px;
    width: 250px;
    align-self: center;
    top: -90px;
    background-color: black;
}

.task-heading .heading {
    color: #354463;
    margin-top: 100px;
    text-align: center;
}

.task-paragraph {
    text-align: center;
}

.task-button {
    width: 50%;
    border-radius: 100px;
    background-color: var(--green);
    padding: 10px;
}

#facts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent url('../assets/home/did-you-know-background.png') no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    padding: 30px;
}

#facts {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 80%;
    /* background-color: blueviolet; */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.different-facts {
    width: 90%;
    justify-self: center;
}

.do-you-know {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.slogan2 {
    /* align-self: flex-start */
    font-family: flood-std;
    font-size: 40px;
    justify-self: start;
    color: white;
}

.facts-button {
    /* align-self: flex-start */
    border-radius: 100px;
    padding: 10px;
    justify-self: start;
    background-color: var(--green);
    margin-bottom: 20px;
}

.unique-fact-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    background-color: white;
}

.unique-fact-container:first-child{
    position: relative;
}

.unique-fact-container:first-child::before{
    position: absolute;
    content: "DID YOU KNOW";
    color: white;
    background-color: var(--blue);
    left: 50%;
    width: 130px;
    margin-left: -65px;
    height: 40px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unique-fact {
    padding: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.icons {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.icons i {
    font-size: 20px;
    background-color: var(--green);
    border-radius: 50px;
    padding: 10px;
}

.fact-details {
    font-size: 1.1em;
}

#stories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.story {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 20px;
}

.image {
    min-width: 312px;
    min-height: 312px;
    height: 100%;
    width: 100%;
    justify-self: center;
}

.story-text {
    background-color: var(--blue);
}

.story-text h1 {
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding: 10px;
}

.story-button {
    justify-self: center;
    padding: 10px;
    background-color: var(--green);
    border-radius: 100px;
}

.events-container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
}

.slogan3 {
    font-family: flood-std;
    font-size: 40px;
    justify-self: start;
    color: white;
    margin-bottom: 50px;
}

.events {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.unique-event {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 50px;
}

.events-image-conatainer {
    position: relative;
}

.event-image::before {
    content: "EVENT";
    position: absolute;
    background-color: white;
    width: 160px;
    height: 40px;
    text-align: center;
    top: -20px;
    left: 50%;
    margin-left: -80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-image .image {
    height: 312px;
    width: 312px;
}

.events-container p {
    color: white;
    text-align: center;
}

.events-container h1 {
    color: white;
    text-align: center;
}

.events-button {
    justify-self: center;
    padding: 10px;
    background-color: var(--green);
    border-radius: 100px;
}

#subscribe-container{
    display: flex;
    background-color: var(--green);
    flex-direction: column;
    align-items: center;
}

#subscribe{
    width: 90%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    align-content: center;

    margin-bottom: 50px;
}

.subscribe-message{
    grid-column: 1 / 3;
}

input {
    outline: none;
    border-radius: 5px;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 100px;
    font-size: 1.1em;
    height: 40px;

}

::placeholder {
    color: var(--blue);
    font-weight: bold;
    opacity: 0.5;
}

.subscribe-button{
    border-radius: 100px;
    background-color: var(--blue);
    color: var(--green);
    padding:20px;
    height: 40px;

    display: flex;
    align-items:center;
    justify-content: center;
}

.footer {
    width: 90vw;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:left;
    grid-gap: 80px;
    color: #354463;
}

ul{
    margin: none;
}

.footer li {
    list-style: none;
}

.footer li a {
    color: #354463;
    text-align: center;
}

.follow-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.learn-more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.message {
    grid-column: 1 / span 2;
    font-size: 1.5em;
    justify-self:self-end;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.message h1{
    font-family: flood-std;
}

@media only screen and (min-width: 768px) {
    .nav-donate-button {
        order: 2;
        grid-column: 2 / span 1;
        justify-self: end;
    }
    .nav-links {
        order: 3;
        justify-self: start;
        flex-direction: row;
    }
    .nav-links a {
        margin-top: 30px;
        margin-right: 30px;
    }
    .issue::before {
        left: 35%;
    }
    .do {
        align-self: flex-start;
    }
    #what-we-do .mission {
        align-self: flex-start;
    }
    #what-we-do h2 {
        text-align: left;
    }
    .task {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 30px;
    }
    .task-image {
        order: 1;
        position: absolute;
        height: 180px;
        width: 250px;
        justify-self: start;
        top: -90px;
        left: 3%;
        background-color: black;
    }
    .task-heading {
        order: 2;
        grid-column: 2/span 1;
    }
    .task-heading .heading {
        margin: 0px 0px;
        text-align: center;
    }
    .task-button {
        order: 3;
    }
    .task-paragraph {
        order: 4;
    }
    #facts {
        margin: 50px;
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    .slogan2 {
        order: 1px;
        align-self: center;
    }
    .different-facts {
        order: 2;
        align-content: center;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    .facts-button {
        align-self: flex-start;
        order: 3;
    }
    .story-image-text {
        position: relative;
    }
    .image {
        width: 80%;
        justify-self: center;
    }
    .story-text {
        background-color: var(--blue);
        position: absolute;
        top: 90%;
        left: 40%;
    }
    .story-button {
        margin-top: 80px;
    }

    .events-container {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--blue);
    }
    .slogan3 {
        font-family: flood-std;
        font-size: 40px;
        justify-self: center;
        color: white;
        margin-bottom: 50px;
        text-align: left;
    }
    .events {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .unique-event:nth-child(2) .events-image-conatainer{
        grid-column: 2/3;
        order: 2; 
    }

    .unique-event:nth-child(2) .event-text{
        grid-column: 1/2; 
        order:1
    }

    .unique-event:nth-child(2) .events-button{
        grid-column: 1/2; 
        order:3
    }

    .unique-event {
        align-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin-bottom: 50px;
        grid-gap: 20px;
    }

    .event-text {
        justify-content: end;
    }
    .events-image-conatainer {
        position: relative;
    }
    .event-image::before {
        visibility: hidden;
    }
    .event-text {
        position: relative;
        align-self: center;
    }
    .event-text h1::before {
        content: "EVENT";
        position: absolute;
        background-color: white;
        width: 160px;
        height: 40px;
        text-align: center;
        top: -30px;
        left: 50%;
        margin-left: -80px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--blue);
    }
    .events-button {
        grid-column: 2 / span 1;
    }

    .footer{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .learn-more{
        grid-column: 2 / span 1;
    }

    .message {
        grid-column: 3 / span 1;
    }
}

@media only screen and (min-width: 992px) {
    #navbar {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
    .nav-links {
        order: 2;
        justify-self: stretch;
        align-self: end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav-donate-button {
        order: 3;
        grid-column: 3 / span 1;
        justify-self: end;
    }
    #banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }
    .issue {
        order: 1
    }
    .slogan {
        order: 2
    }
    #take-action {
        display: grid;
        grid-gap: 60px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: var(--green);
        padding: 30px;
        justify-content: space-around;
    }
    .doings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 80px;
        justify-content: space-around;
    }
    .task {
        background-color: white;
        padding: 20px;
        margin: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .task-image {
        order: 1;
        position: absolute;
        height: 180px;
        width: 250px;
        top: -90px;
        left: 8%;
        background-color: black;
        justify-self: start;
    }
    .task-heading .heading {
        color: #354463;
        margin-top: 100px;
        text-align: center;
        order: 2;
    }
    .task-paragraph {
        text-align: left;
        order: 3;
    }
    .task-button {
        width: 50%;
        border-radius: 100px;
        background-color: var(--green);
        padding: 10px;
        order: 4;
        align-self: flex-start;
    }
    .story-image-text {
        position: relative;
    }
    .image {
        width: 80%;
        max-width: 640px;
        max-height: 560px;
        float: right;
    }
    .story-text {
        background-color: var(--blue);
        position: absolute;
        top: 40%;
        left: 0%;
        right: 60%;
    }
    .story-button {
        margin-top: 80px;
    }

    #subscribe{
        width: 90%;
    
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-gap: 20px;
    }

    .subscribe-message{
        grid-column: 1 / 2;
    }

    .subscibe-input{
        align-self: center;
    }

    .subscribe-button{
        border-radius: 100px;
        background-color: var(--blue);
        color: var(--green);
        align-self: center;
        height: 50px;
    }

    .footer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .learn-more{
        grid-column: 4 / span 1;
    }

    .message {
        grid-column: 5 / span 1;
    }
}